%div.center
	- if current_user
		%p Hello #{ current_user.email }
		%br
			= link_to 'Logout', logout_path %>
	- else
		= link_to 'Login In', login_path %> or <%= link_to 'Sign Up', '/auth/dailycred'
