
.row.right.muted
	.span3
		%h6
			The Team
		%small
			%a{ :href => '//github.com/aaasen' } Lane Aasen
			%br
			George Matter
			%br
			Michael Rosenberger
	
	.span3
		%h6
			Contact Us
		%small
			%a{ :href => 'mailto:thingsmithus@gmail.com' } thingsmithus@gmail.com

	.span3
		%h6
			Contribute
		%small
			%a{ :href => '//aaasen.github.com/thingsmith'} View on Github

	.span3
		%small
			Made in Seattle

			%br

			%i.icon-heart
			StudentRND
