
.navbar
	.navbar-inner
		%a.bold.brand{ :href => root_path }
			%b ThingSmith
			
			%small
				a community of makers
		.pull-right
			%a.bold.brand{ :href => 'http://github.com/laneaasen/thingsmith' }
				%b Github
		