
.navbar
	.navbar-inner
		%a.bold.brand{ :href => root_path }
			%b ThingSmith
			
			%small{ :style => 'margin-left: 4px;'}
				a community of makers
		.pull-right
			- if current_user
				%a.bold.brand{ :href => user_path(current_user) }
					%b My Profile
				%a.bold.brand{ :href => logout_path }
					%b Sign Out
			- else
				%a.bold.brand{ :href => '/auth/dailycred?action=signin' }
					%b Login
				%a.bold.brand{ :href => '/auth/dailycred' }
					%b Sign Up
			%a.bold.brand{ :href => '/' }
				%b All Jobs
			%a.bold.brand{ :href => '/jobs/new' }
				%b New Job
		