
.navbar
	.navbar-inner
		%a.bold.brand{ :href => root_path }
			%b ThingSmith
			
			%small
				a community of makers
		.pull-right
			%a.bold.brand{ :href => '/auth/dailycred?action=signin' }
				%b Login
			%a.bold.brand{ :href => '/auth/dailycred' }
				%b Sign Up
			%a.bold.brand{ :href => '/' }
				%b All Jobs
			%a.bold.brand{ :href => '/jobs/new' }
				%b New Job
			%a.bold.brand{ :href => 'http://github.com/laneaasen/thingsmith' }
				%b Github
		