
.navbar
	.navbar-inner
		%a.bold.brand{ :href => root_path }
			%b ThingSmith
			
			%small
				a community of makers
		.pull-right
			%a.bold.brand{ :href => 'https://www.dailycred.com/connect?action=signin&identity_provider=dailycred&client_id=b03691e9-8235-4642-b0f3-d7618ae3107e' }
				%b Login
			%a.bold.brand{ :href => 'https://www.dailycred.com/connect?identity_provider=dailycred&client_id=b03691e9-8235-4642-b0f3-d7618ae3107e' }
				%b Sign Up
			%a.bold.brand{ :href => '/' }
				%b All Jobs
			%a.bold.brand{ :href => '/jobs/new' }
				%b New Job
			%a.bold.brand{ :href => 'http://github.com/laneaasen/thingsmith' }
				%b Github
		